<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <div class="form-group">
                        <input required type="text" [(ngModel)]="note.title" name="title" id="title"
                            class="form-control phone"  placeholder="Enter your Title..." />
                    </div>
                    <div class="form-group">
                        <label for="note"><span class="req">* </span> Description : </label>
                        <input class="form-control" type="text" [(ngModel)]="note.note" name="note" id="txt"
                            placeholder=" add you note test here" required />
                    </div>
                    
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Create" (click)="add()">
                    </div>
                </fieldset>
            </form>  ends register form -->
            <!-- second for to fiter user-->
        <!-- </div> -->
    <!-- ends col-</div>6 -->
<!-- </div> --> -->
