<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">QuickNote</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto"></ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Create
        </button>
      </form>
    </div>
  </nav>
</div>
<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="list-group" style="margin-top: 10px">
          <a
            *ngFor="let note of notes"
            (click)="onItemClick(note)"
            class="list-group-item list-group-item-action">{{ note.title }}</a>
        </div>
      </div>
      <div class="col-md-9">
          <mat-form-field appearance = "standard">
              <input matInput placeholder = "Input" id='lbl'>
              <mat-hint>Sample Hint</mat-hint>
           </mat-form-field>
           <quill-editor id='editor-id' [styles]="{height: '340px'}"></quill-editor>
           <button class="btn material-icons circle-icon">save</button>     
      </div>
        
      </div>
    </div>
</main>
